<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <header>
        <nav id="topNav">
            <div id="leftNav">
                <a id="logo" class="headerLi" href="/"><img id="logoImg" src="/assets/logo.jpeg" alt=""></a>
            </div>

            <div id="rightNav">
                <a class="headerLi" href="/login">Login</a>
                <a class="headerLi" href="/register">Register</a>
            </div>
        </nav>
    </header>

    <main>
        <div id="sideBar">
            <a class="sBItem" href="/">Home</a>
            <a class="sBItem" href="/topPage">Top</a>
            <a class="sBItem" href="/chat">Chat rooms</a>
        </div>
        <div id="pageContent">
            {content}
        </div>
    </main>

    <footer>

    </footer>
    
</body>

</html>