@font-face {
    font-family: jetBrains;
    src: url(/assets/JetBrainsMono-Regular.ttf) format("TrueType");
}


* {
    font-family: jetBrains;
    font-size: 1rem;
    margin: 0;
}

#topNav {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    border-bottom: black 1px solid;
}

#logo {
    max-width: 4rem;
    aspect-ratio: 1/1;
}

#logoImg {
    max-width: inherit;
    aspect-ratio: 1/1;
    border-radius: 10%;
}

#leftNav, #rightNav {
    display: flex;
    align-items: center;
}

.headerLi {
    margin: 1rem;
    max-height: fit-content;
    max-width: fit-content;
}

main {
    display: flex;
    margin:auto;
    height: 100vh;
}

#pageContent {
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
    height: min-content;
}

#sideBar {
    display: flex;
    flex-direction: column;
    width: 15rem;
    border-right: 1px solid black;
    position: fixed;
    height: 100%;
    overflow-x: hidden;
}

.sBTop {
    margin-top: 0.5rem;
}

.sBItem {
    color: black;
    white-space: nowrap;
    position: relative;
    text-decoration: none;
    transition: all 0.4s ease;
    padding: 0.8rem;
}

.sBItem:hover {
    background-color: rgb(228, 233, 236);
    border-radius: 0.5rem;
}